.wrapperMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}
.wrapperContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  width: 46rem;
}
.contentHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 0.88rem;
}

.taskCreated {
  display: flex;
  gap: 0.5rem;
  color: var(--blue);
}
.taskCreated span {
  background-color: var(--gray-400);
  border-radius: 100px;
  padding: 2px 8px;
  color: var(--gray-200);
  font-size: 0.75rem;
}
.taskCompleted {
  display: flex;
  gap: 0.5rem;
  color: var(--purple);
}
.taskCompleted span {
  background-color: var(--gray-400);
  border-radius: 100px;
  padding: 2px 8px;
  color: var(--gray-200);
  font-size: 0.75rem;
}

.contentWithoutTask {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 4rem 1.5rem;
}

.contentWithoutTask svg {
  color: var(--gray-300);
  margin-bottom: 1rem;
}
.contentWithoutTask p {
  color: var(--gray-300);
  font-weight: bold;
}

.contentWithoutTask span {
  color: var(--gray-300);
}

.content {
  display: none;
}
